.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 90%;
    margin-left: 3%;
  }
}

.searchContainer {
  width: 100%;
  position: relative;

  input {
    width: 90%;
    margin-left: 3%;
  }
}

.resultsList {
  position: absolute;
  background-color: rgba(227, 224, 224, 0.4);
  left: 40px;
  top: 44px;
  width: 88%;
  min-height: 300px;
  height: 300px;
  list-style: none;
  overflow: scroll;
  border-radius: 12px;
}

.resultItem {
  background-color: rgb(255, 255, 255);
  padding: 10px 4px;
  border-bottom: 1px solid rgb(187, 184, 184);
  cursor: pointer;

  &:hover {
    background-color: rgb(200, 223, 255);
  }
}

.loader{
  position: absolute;
  left: 40px;
  top: 44px;
  color:rgb(148, 180, 244);
}
