.authorBox {
  width: 100%;
  max-width: 540px;
  height: 550px;
  overflow: hidden;
  background-color: var(--author-bg-color);
  border-radius: 14px;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;

  div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    h2 {
      margin: 5px 10px;
    }
  }

  div:nth-child(2) {
    overflow: hidden;
    position: relative;

    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }
  }

  div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 15px;
    
    p{
      text-align: justify;
    }

    

  }
}
