.chat {
  height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;

  p {
    width: 70%;
    padding: 12px;
  }
}

.chatInput {
  text-align: center;

  input {
    border: 0px;
    width: 70%;
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue;
  }
}
