.generalContent {
  height: 100vh;
  overflow: scroll;
  padding-top: 40px;
}

.canvas {
  height: 200px;
  overflow: hidden;
}

.mainContent {
  padding-bottom: 60px;
  text-align: center;
}

.audioPlayerContent {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 60px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}
