.container{
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;;
    height: 100vh;
    background-color: rgba(11, 11, 11, 0.7);
    z-index: 1;
    opacity: 0;
    animation: fadeIn 2.3s ease-in-out 0.4s forwards;
}

.marker{
    background-color: rgb(225, 107, 125);
    border-radius: 50%;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

@keyframes fadeIn {
    from{
        transform: translate(0, -40vh);
        opacity:0;
    }to{
        transform: translate(0, 0);
        opacity:1;
    }
}