.container {
  left: 0px;
  top: 0px;
  position: fixed;
  max-height: 50px;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 100vw;

  a {
    color: var(--primary-text-color);
    font-size: 1.4em;
    font-weight: 700;
    margin: 0 12px;
  }
}

.nav-bar-left {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 25%;

  a {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 4px;

    img {
      max-height: 80%;
      margin: 0 0px 0 3vw;
      filter: grayscale(5) saturate(0) sepia(80%);
    }

    p {
      font-family: "Bruno Ace", cursive;
      font-size: 0.8rem;
    }
  }
}

.nav-bar-center {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 80%;
    margin-left: 10px;
  }
}

.nav-bar-right {
  width: 50%;
  display: flex;
  justify-content: right;
}

.auth {
  height: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;

  a {
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    margin: auto;
  }

  p {
    font-size: 1rem;
    cursor: pointer;
  }

  img {
    border: 2px solid #c4c4c4;
    max-width: 60px;
    max-height: 40px;
    margin: auto;
  }

  svg {
    height: 30px;
    width: 40px;
  }
}

.dark {
  position: relative;
  width: 60px;
}

.hamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-right: 2.5vw;

  svg {
    cursor: pointer;
  }
}

.menu {
  position: absolute;
  right: 2.5vw;
  top: 62px;
  display: flex;
  flex-direction: column;
  background-color: var(--nav-bg);
  padding: 15px 45px 20px 25px;

  a {
    font-size: 0.9rem;
    margin: 6px 0;

    &&:hover {
      color: rgb(102, 132, 222);
    }
  }

  hr {
    margin: 10px 0px 4px;
  }
}

.menu:after,
.menu:before {
  left: 68%;
  top: -10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.menu:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: var(--nav-bg);
  border-width: 10px;
  margin-top: -10px;
  rotate: -90deg;
}
