.container {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: var(--audio-box-bg);
  border-radius: 14px;

  h2 {
    font-size: 3.5rem;
    margin: 10px;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    margin: 40px;
  }

  svg {
    height: 80px;
    width: 80px;
    padding: 20px;
    background-color: var(--audio-play-bg);
    border-radius: 12px;
    color: var(--play-color);
    cursor: pointer;

    &:hover{
        background-color: rgb(117, 117, 117);
    }
  }
}

.imagen {
  img {
    width: 180px;
  }
}
