.recordBox {
  width: 100%;
  max-width: 340px;
  height: 340px;
  border-radius: 10px;
  background-color: var(--audio-box-bg);
  margin: auto;
  position: relative;

  span {
    position: absolute;
    right: 10px;
    top: 10px;

    svg {
      height: 20px;
      width: 20px;
      color: var(--primary-text-color);
      cursor: pointer;

      &:hover {
        color: rgb(235, 107, 107);
      }
    }
  }
}

.title {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  h2 {
    font-size: 1.3rem;
    color: var(--audio-title);

    &:hover {
      color: rgb(131, 191, 250);
    }
  }
}

.play {
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 80px;
    width: 80px;
    padding: 20px;
    background-color: var(--audio-play-bg);
    border-radius: 12px;
    color: var(--play-color);
    cursor: pointer;

    &:hover {
      background-color: rgb(117, 117, 117);
    }
  }
}

.author {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 1rem;
  }
}

.category {
  height: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 15px;

  h4 {
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
    color: var(--audio-categoria);
    margin-left: 4px;
    &:hover {
      color: rgb(131, 191, 250);
    }
  }
}

.tag {
  height: 10%;
}
