.generalContent {
  height: 100vh;
  overflow: scroll;
}

.canvas {
  height: 200px;
  overflow: hidden;
}

.mainContent {
  position: relative;
  padding-top: 65vh;
  padding-bottom: 60px;
  text-align: center;
}

.logoHead{
  position: absolute;
  left: 0;
  top:0;
  height: 65vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgb(66, 66, 66);

  animation: fadeIn 5s forwards;

  img{
    height: 50%;
    filter: sepia(10%) invert();
    position: relative;
    z-index: 2;
  }
}

.audioPlayerContent {
  width: 100vw;
  background-color: rgba(65, 65, 65, 0.96);
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 60px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}