.intro {
  width: 100vw;
  height: 100vh;
  background-color: rgb(66, 66, 66);
}

.head {
  text-align: center;

  img {
    margin-top: 20vh;
    height: 20vh;
    height: auto;
    cursor: pointer;
    filter: grayscale(5) saturate(0) sepia(80%);

    &&:hover {
      filter: invert();
    }
  }
}

.title {
  text-align: center;

  h1 {
    font-family: "Bruno Ace", cursive;
    color: rgb(229, 229, 229);
    cursor: pointer;

    &&:hover {
      color: rgb(251, 158, 184);
    }
  }
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;

  img {
    width: 35px;
    filter: invert();
    margin: 0 10px;
  }

  p {
    color: rgb(229, 229, 229);
  }
}

.demoBanner {
  max-width: 500px;
  margin: 5vh auto 0;
  padding: 14px 18px;
  background-color: rgba(255, 255, 255, 0.08);
  border-left: 3px solid #f0c040;
  border-radius: 4px;
  text-align: left;

  p {
    font-size: 0.85rem;
    color: rgba(229, 229, 229, 0.85);
    margin: 0;
    line-height: 1.5;
  }
}

.demoBadge {
  display: inline-block;
  background-color: #f0c040;
  color: #1a1a1a;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 3px;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
