@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

:root {
  --nav-bg: #dcdcdc;
  --background-color: #f6f6f6;
  --foreground-color: #849cea;
  --primary-text-color: #676962;
  --secondary-text-color: #5d4f4f;
  --toogle-bg: #aeac8d;
  --toogle-fg: #ffd000;
  --btn-bg-color: #329cfa;
  --btn--color: #ffffff;
}

[data-theme="dark"] {
  --nav-bg: #4d4d4d;
  --background-color: #272626;
  --foreground-color: #4770f8;
  --primary-text-color: #8eb2ff;
  --secondary-text-color: #285291;
  --toogle-bg: #3a4cc1;
  --toogle-fg: #1c93ee;
  --btn-bg-color: #ffffff;
  --btn--color: #329cfa;
}

nav {
  height: 60px;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: var(--primary-text-color);
    font-size: 1.4em;
    font-weight: 700;
    margin: 0 12px;
  }
}

h1 {
  color: var(--primary-text-color);
  font-size: 1.6rem;
}

h2 {
  color: var(--secondary-text-color);
  font-size: 1.4rem;
}

p {
  color: var(--primary-text-color);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button {
  background-color: var(--btn-bg-color);
  color: var(--btn--color);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
